/* Import futuristic fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  /* Customize these variables to adjust the color palette */
  --primary-color: #00ffff; /* Cyan */
  --secondary-color: #ff00ff; /* Magenta */
  --accent1-color: #ff0000; /* Red */
  --accent2-color: #00ff00; /* Green */

  /* Customize these variables to adjust the fonts */
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  /* Customize these variables to adjust the color scheme */
  --headline-color-on-white: #ffffff; /* White */
  --headline-color-on-color: #ffffff; /* White */
  --paragraph-color-on-white: #ffffff; /* White */
  --paragraph-color-on-color: #ffffff; /* White */
  --paragraph-background-color: #000000; /* Black */
  --nav-link-color: #00ffff; /* Cyan */
  --nav-background-color: #000000; /* Black */
  --nav-hover-link-color: #ffffff; /* White */
  --nav-hover-background-color: #00ffff; /* Cyan */
}

/* Body and general styling */
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--headline-color-on-white);
}

/* Header styling */
header {
  padding: 1em;
  text-align: center;
  background-color: var(--nav-background-color);
}

/* Paragraph styling */
p {
  padding: 1em;
}

/* Navigation styling */
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Site map layout */
.sitemap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
                       ". . . top . ."
                       ". left left right right ."
                       "page2 page2 . . page3 page3";
}

/* Site map item styling */
.sitemap > div {
  text-align: center;
}

/* Individual site map items */
.sm-home,
.sm-page2,
.sm-page3 {
  background-color: var(--accent1-color);
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
